/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*  --------------- Utility Classes -----------------  */
  
  .container {
    width: 85vw;
    max-width: 960px;
    margin: 40px auto;
  }

  .img-left{
    float:left;
    border: 3px dotted;
    margin: 10px 0 10px 20px
  }

  .img-center{
    display:block;
    border: 3px dotted;
    margin: 20px auto;
  }



  /*-------------Links------------*/
  .primary a:link, a:visited {
    background-color: none;
    text-align: center;
    color:red;
    display: inline-block;
    text-decoration: underline;
  }
  
  a:hover, a:active {
    color: black;
  }

  #practice h2 a:link, a:visited {
    background-color: none;
    text-align: center;
    color:red;
    display: inline-block;
    text-decoration: underline;
  }
  
  a:hover, a:active {
    color: black;
  }

  
  /*  --------------- Responsive Images -----------------  */
  
  img {
    max-width: 100%;
  }

  /*----------Tables-------*/

  table{
    width:100%;
    border: 2px solid #000000;
    border-collapse:collapse;
  }
  
  table tr:nth-child(even){
    background-color:lightgray;
  }

  table tr:hover{
    background-color: gray;
  }

  table th{
    padding: 10px;
    background-color: #419FFF;
  }

  table td:nth-of-type(1){
    text-align: left;
  }


  table td{
    text-align: right;
    padding: 3px;
    border: 2px dashed #000000;
  }

  table caption{
    font-weight:bold;
  }


  /*---------Lists--------*/

  ol{
    list-style-type: lower-roman;
    
  }

  .primary li{
    background-color: blueviolet;
    margin:auto;
  }

  ul ul{
    list-style-type: square;
    color:yellow;
  }

  dl{
    background-color: red;
  }

  dt{
    background-color: green;
  }

  dd{
    background-color:yellow;
  }

  dd + dt{
    color:white;
  }

  li{
    background-color: aquamarine;
  }
  /*  --------------- Global Styles -----------------  */


  
  body {
    font-family: 'Yellowtail', cursive;
    margin:0;
    text-size-adjust: auto;
    font-size: 150%;
    max-width: 2000px;
    background-image:linear-gradient(180deg, #63b3ed 0%, #5295cc 25%, #4578a9 50%, #2a4365 100%), linear-gradient(90deg, #2a4365 0%, #2d4d76 25%, #2e5788 50%, #2b6cb0 100%)}
  
  

  header.primary {
    text-align: center;
    color:black;
    padding: 40px;
    text-shadow: 1px 1px red;
  }
  
  header.primary h1 {
    margin: 20px 0 10px;
  }
  
  header.primary h1 a {
    color: #fff;
    text-decoration: none;
  }
  
  header.primary h2 {
    font-size: 1.4rem;
  }
  
  header.primary nav {
    max-width: 960px;
    margin: 20px auto;
  }
  
  header.primary nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  header.primary nav ul li {
    list-style-type: none;
  }
  
  header.primary nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px 25px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: 0.5s;
  }
  
  header.primary nav ul li a:hover,
  header.primary nav ul li a:active {
    background: rgba(0, 0, 0, 0.8);
  }
  
  #intro {
    border-bottom: 2px dashed #c0c0c0;
    padding-bottom: 14px;
  }
  
  #intro h2 {
    color: #3b638b;
    border-bottom: 1px dotted #c0c0c0;
  }
  
  #content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px dotted #c0c0c0;
  }

  img[src="https://via.placeholder.com/300x200"]{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
  
  #content article.post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
  }
  figcaption{
    text-align: center;
  }
  
  time.post-date{
    text-align: right;
  }
  
  #content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  article.post figure {
    margin: 0;
  }
  
  time.post-date,
  figcaption,
  .post-meta {
    text-transform: uppercase;
    color: #c0c0c0;
  }
  .post figure img {
    border: 1px solid #c0c0c0;
    padding: 2px;
    border-radius: 5px;
  }
  
  article.post a {
    color: black;
  }
  
  article.post a:hover {
    text-decoration: none;
  }

  article.post a:visited{
    color: red;
  }
  
  #practice blockquote{
    border: 1px solid white;
    margin: 10px;
    padding: 5px;
    border-radius: 20px 10px;
    background-color: red;
    line-height: 1.4;
    color: #c0c0c0;
  }

  #practice cite{
    font-size: small;
    font-weight: bold;
    text-align: right;
    display: block;
  }

  
  
  
  
  
  
  aside[role="complementary"] {
    background-color: #172635;
    color: #ffffff;
    padding: 1.9rem;
  }
  
  
  aside .container {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  
  aside .widget a:last-of-type {
    display: block;
    text-align: right;
    padding-top: 20px;
    color: white;
  }
  
  aside .widget footer {
    display: none;
  }
  
  #colophon {
    background-color: #3b638b;
  }
  
  #colophon h6 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
  }

  #footer{
    text-align: center;
}
  
  /*  --------------- Media Queries -----------------  */
  
  @media screen and (max-width: 600px) {
    header.primary nav ul {
      flex-direction: column;
      max-width: 250px;
      margin: auto;
    }
    header.primary nav a {
      display: block;
    }
    header.primary nav li {
      margin-bottom: 10px;
    }
  }
  